<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.mapper.NoodleMapper">

	<insert id="create">
		insert into tbl_noodle (name, brand, thumbnail, weight, soupColor, releaseDate, noodleType, type)
		values(#{name},#{brand},#{thumbnail},#{weight},#{soupColor},#{releaseDate},#{noodleType},#{type})
	</insert>
	
	<select id="read" resultType="NoodleVO">
select name, brand, thumbnail, weight, soupColor, releaseDate, noodleType,type from tbl_noodle where name = #{name}
</select>

	<delete id="delete">
		delete from tbl_noodle where name=#{name}
	</delete>
	
	<update id="update" parameterType="NoodleVO">
		update tbl_noodle set
		brand=#{brand}, thumbnail=#{thumbnail}, weight=#{weight},
		soupcolor=#{soupColor}, noodletype=#{noodleType}, type=#{type} where name=#{name}
	</update>
	
	<select id="listSearch" resultType="NoodleVo">
	
		select * from tbl_noodle
		
				<if test="orderType != null">
			<if test="orderType == 'n'.toString()">
				order by RELEASEDATE desc
			</if>

			<if test="orderType == 'nd'.toString()">
				order by RELEASEDATE asc
			</if>

			<if test="orderType == 'rk'.toString()">
				order by calories asc
			</if>

			<if test="orderType == 'hk'.toString()">
				order by calories desc
			</if>

			<if test="orderType == 'r'.toString()">
				join tbl_rank on tbl_noodleapi.name = tbl_rank.name
				where year=2015
				order by rank asc
			</if>
		</if>
	
	</select>

</mapper>