<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.mapper.NoodleMapper">

	<insert id="create">
		insert into tbl_noodle (name, brand, thumbnail, weight, soupColor, releaseDate, noodleType, type)
		values(#{name},#{brand},#{thumbnail},#{weight},#{soupColor},#{releaseDate},#{noodleType},#{type})
	</insert>
	
	<select id="read" resultType="NoodleVO">
select name, brand, thumbnail, weight, soupColor, releaseDate, noodleType,type from tbl_noodle where name = #{name}
</select>

	<delete id="delete">
		delete from tbl_noodle where name=#{name}
	</delete>
	
	<update id="update" parameterType="NoodleVO">
		update tbl_noodle set
		name=#{name}, brand=#{brand}, thumbnail=#{thumbnail}, weight=#{weight},
		soupcolor=#{soupColor}, noodletype=#{noodleType}, type=#{type}
	</update>

</mapper>