<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.mapper.NutritionMapper">
	<insert id="create">
		insert into tbl_nutrition(name, calories, carbohydrate, protein, fat,
		saturatedFat, transFat, cholesterol, natrium)
		values(#{name}, #{calories}, #{carbohydrate}, #{protein}, #{fat}, #{saturatedFat},
		#{transFat}, #{cholesterol}, #{natrium})
	</insert>
	
	<select id="read" resultType="NoodleVO">
select name, calories, carbohydrate, protein, fat, saturatedFat, transFat,
	cholesterol, natrium from tbl_nutrition where name = #{name}
</select>

	<delete id="delete">
		delete from tbl_nutrition where name=#{name}
	</delete>

<update id="update" parameterType="NoodleVO">
		update tbl_nutrition set
		name=#{name}, calories=#{calories}, carbohydrate=#{carbohydrate}, protein=#{protein},
		fat=#{fat}, saturatedFat=#{saturatedFat}, transFat=#{transFat}, cholesterol=#{cholesterol}, natrium=#{natrium}
	</update>
</mapper>